*{
	border-sizing: border-box;
  }
body{
	max-width: 1000px;
	width: 100%;
	margin: 0;
	font-family: Roboto Raleway;
	text-align: center;
	}
li>a{
	color:rgb(230, 0, 0);
	font-size: 22px;
	text-decoration: none;
	}
.connect
   {
    color: #000;
    font-style: italic;
    font-size: 18px;
    }
#Jesus{
	background-color: rgb(240, 240, 240);
	padding: 40px 40px;
	margin-bottom: 400px;
	}
.gallery img{
	width: 100%;
	max-width: 390px;
	height: 600px;
	object-fit: cover;
	border-radius: 10px;
	}
.gallery{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 25px 15px;
	margin: 0 auto;
	gap: 16px;
	}
.flex{
	margin-top: 600px;
	}
.gallery2 img{
	width: 100%;
	max-width: 400px;
	height: 600px;
	object-fit: cover;
	border-radius: 10px;
	}
.gallery2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 16px 16px;
	margin: 0 auto;
	gap: 17px;
	overflow: auto;
	flex-wrap: no-wrap;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	}

.one{
	font-style: italic;
	font-size: 35px;
	margin-top: 30px;
	font-family: lato;
	font-weight: bold;
	}
h2{
	font-size: 30px;
	color: rgb(0,195,0);
	}
.two {
	color: rgb(190, 190, 190);
	font-style: italic;
	font-size: 25px;
	margin-top: -18px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: -420px;
	}
h1{
	font-size: 28px;
	}
.olajide{
	height: 250px;
	width: 250px;
	border-radius: 1000px;
	}
.family{
	font-size: 45px;
	font-weight: bold;
	}
.ghf{
	color: black;
	font-size: min(10vw, 1.5em);
	background-color: white;
	text-indent: -25px;
	margin-top: -0.1px;
	padding: 35px 35px;
	}
h5{
	font-size: 20px;
	margin-top: -1px;
	}
footer{
	background-color: rgb(10, 20, 20);
	color: white;
	padding: 10px 10px;
	text-align: left;
	}
footer>a{
	color: white;
	font-size: 15px;
	text-decoration: none;
	}
footer>a:hover{
	color: rgb(100, 0, 0);
	text-decoration: underline;
	}
footer>a:visited{
	color: rgb(250, 250, 250);
	}
address{
	font-size: 15px;
	}
footer>p{
	font-size: 14px;
	color:  rgb(240, 240, 240);
	margin-bottom: 50px;
	text-align: center;
	}
.img{
	height: 30px;
	margin-top: 20px;
	}
.jude{
	color: white;
	text-decoration: none;
	font-size: 22px;
	}
.tel{
	margin-bottom: 220px;
	text-decoration: none;
	}
.video{
	position: absolute;
    width: 100%;
    height: 100%;
    z-index: -100;
    background: no-repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
	padding: 0;
	z-index: -1;
	}
.text-1{
	font-size: 35px;
	color: white;
	font-weight: 800;
	margin-top:150px;
	}
#get-involved{
	color: white;
	text-decoration: none;
	background-color: red;
	font-size: 25px;
	}
.relationship{
	margin-bottom: -420px;
	}
.general{
	margin-top: -350px;
	margin-bottom: 450px;
	padding-left: 20px;
	padding-right: 20px;
	}
/* Centered text */
.centered1{
    position: absolute;
    margin-bottom: 690px;
	}
/* Centered text */
.centered{
    position: absolute;
    margin-bottom: -290px;
	}
.center{
	font-size: 28px;
	color: white;
	font-weight: bold;
	}
.middle{
	font-size: 23px;
	color: white;
	}
.join{
	font-size: 31px;
	}
.middle1{
	font-size: 25px;
	}
.link{
	background-color:  rgb(0,195,0);
	text-decoration: none;
	font-size: 21px;
	color: white;
	padding: 10px 10px;
	border-radius: 4px;
	text-weight: 800;
	}
nav>ul>li{
	display: block;
	margin: 0 0rem;
	padding: 0.2rem;
	color: white;
	float: right;
	}
nav{
	background-color: rgb(10, 20, 20);
    height: 50px;
    margin-top: -20px;
    overflow: hidden;
	}
bottomnav{
	width: 3 5rem;
	display: flex;
	jusify-content: space-between;
	}
 /* Style the links inside the navigation bar */
.bottomnav a{
	background-color: rgb(248, 248, 248);
	text-decoration: none;
	font-size: 18px;
	color: black;
	padding: 12px 12px;
	border-radius: 4px;
	text-weight: 800;
	float: right;
    text-align: center;
    margin-top: 4px;
	}
.push1{
	margin-right: 15px;
.push{
	margin-right: 50px;
	indent: 50px;
	}
.gospel{
	font-size: 21px;
	}
.joinus{
	margin-bottom: 20px;
	text-align: left;
	font-size: 18px;
	}
hr{
	border: 0.01px solid rgb(190, 190, 190);
	}
